* {
    margin: 0;
    padding: 0;
}

header {
    background-image: url("https://www.wallpapertip.com/wmimgs/54-549491_background-for-food-website.jpg");
    height: 250px;
    margin-bottom: 30px;
}

.heading {
    color: rgb(251, 255, 55);
    margin-bottom: 15px;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-size: 45px;
    font-family: 'Poppins';
}

.logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.inpu {
    margin-left: 40px;
}

.random-meal-container {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.heading2 {
    font-size: 20px;
}

.credits {
    background-color: rgb(151, 238, 243);
    padding: 15px;
}

.name {
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.image-containers {
    display: grid;
    grid-template-columns: auto auto auto;
}

.images {
    margin-bottom: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dish-info {
    font-size: 20px;
    margin-top: 8px;
}

.ing {
    font-size: 30px;
}

.dish-ingredients {
    background-color: rgb(238, 108, 108);
    width: 300px;
}

.button {
    display: grid;
    grid-template-columns: auto ;
    justify-content: center;
    /* align-items: center; */
}

.search-buttton {
    display: flex;
    align-items: center8;
}

.hidden {
    display: none;
}

body {
    background-color: #D7E9F7;
}

footer {
    background-color: rgb(232, 255, 237);
}

.button {
    background-color: rgb(254, 245, 43);
}

.topic {
    color: rgb(55, 12, 228);
    font-family: Arial, Helvetica, sans-serif;
}

.random-food-images{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    padding: 10px;
    border-radius: 10px;
}

@media screen and (max-width:400px) {
    .image-containers {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;

    }

    .random-meal-container {
        display: grid;
        grid-template-columns: auto;
    }
    .logo{
        display: grid;
        grid-template-columns: auto;
    }
}

/* .random-image{
    border-radius: 20px;
} */

h2{
    margin-bottom: 20px;
}

.inpu{
    height: 30px;
    width: 290px;
}
